@import "../../styles/scss/reset";

.button {
  width: 200px;
  line-height: 40px;
  color: #fff;
  background-color: #d8b0f8;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    font-weight: 500;
    color: $color-light-purple;
    background-color: #fff;
  }
}

.delete {
  width: 45%;
}

.delete {
  width: 150px;
  background-color: #ccc;

  &:hover {
    font-weight: 500;
    color: #fff;
    background-color: #696969;
  }
}

.done {
  background-color: #64dc95;

  &:hover {
    color: #fff;
    background-color: #17d164;
  }
}

.notYet {
  background-color: #6736ed94;

  &:hover {
    color: #fff;
    background-color: #6836ed;
  }
}
