$color-white-purple: #dae0f6;
$color-light-purple: #a879e3;

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
