@import "../../styles/scss/reset";

body {
  background-color: $color-white-purple;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  margin: 10% auto;
  background-color: #fff;
  border-radius: 10px;

  .nav {
    @include flex-space-between;
    padding: 1% 3%;
  }
}
