@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  width: 200px;
  line-height: 40px;
  color: #fff;
  background-color: #d8b0f8;
  border-radius: 10px;
  transition: all 0.2s;
}
.button:hover {
  font-weight: 500;
  color: #a879e3;
  background-color: #fff;
}

.button-delete,
.button-cancel {
  width: 45%;
}

.button-delete {
  background-color: #ccc;
}
.button-delete:hover {
  font-weight: 500;
  color: #fff;
  background-color: #696969;
}

.button-cancel {
  border: 1px solid #d8b0f8;
}