@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.input-con {
  width: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 10%;
}
.input-con label {
  width: 50px;
  display: block;
  color: #fff;
  font-weight: 400;
}
.input-con .input {
  padding: 0 10px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #fff;
}