@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.input-bar {
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
  background-color: #a879e3;
}
.input-bar .inputs {
  width: 50%;
  display: flex;
}