.todoCon {
  width: 20%;
  padding: 3%;
  margin: 2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
.todoCon h4 {
  font-size: 24px;
}
.todoCon p {
  margin: 10% 0;
}
.todoCon .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}